body {
  font-family: "Montserrat", sans-serif;
  background: url(../img/bg.png) no-repeat center center;
  background-size: 100%;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

[class*=__container] {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 30px;
}

.wrapper {
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.17)), color-stop(32.92%, rgba(255, 255, 255, 0.76)), color-stop(59.51%, rgba(255, 255, 255, 0.9)), color-stop(103.7%, rgba(255, 255, 255, 0.87)));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.17) 0%, rgba(255, 255, 255, 0.76) 32.92%, rgba(255, 255, 255, 0.9) 59.51%, rgba(255, 255, 255, 0.87) 103.7%);
  -webkit-backdrop-filter: blur(58px);
          backdrop-filter: blur(58px);
}

.header {
  padding: 76px 0 20px 0;
}
@media (max-width: 1164.99px) {
  .header {
    padding: 36px 0 20px 0;
  }
}
@media (max-width: 939.99px) {
  .header {
    padding: 35px 0 0px 0;
  }
}
@media (max-width: 767.99px) {
  .header .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.main {
  padding: 52px 0 104px 0;
}
.main .main__container {
  position: relative;
}
.main .main__container .main__value .value__title {
  max-width: 560px;
  max-height: 180px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.41px;
  color: #1F294A;
  margin-bottom: 52px;
  -webkit-transform: translate(-150%, 0);
          transform: translate(-150%, 0);
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.main .main__container .main__value .value__title.animation {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}
.main .main__container .main__value .value__list {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.29;
  letter-spacing: -0.41px;
  color: #1F294A;
  padding-left: 24px;
  margin-bottom: 41px;
  -webkit-transform: translate(-150%, 0);
          transform: translate(-150%, 0);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0.3s;
  transition: all 0.8s ease 0.3s;
}
.main .main__container .main__value .value__list.animation {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}
.main .main__container .main__value img {
  -webkit-transform: translate(-150%, 0);
          transform: translate(-150%, 0);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0.9s;
  transition: all 0.8s ease 0.9s;
}
.main .main__container .main__value img.animation {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}
.main .main__container .main__value .value__text {
  margin-top: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.29;
  letter-spacing: -0.41px;
  color: rgba(31, 41, 74, 0.5);
  -webkit-transform: translate(-150%, 0);
          transform: translate(-150%, 0);
  opacity: 0;
  -webkit-transition: all 0.8s ease 1.1s;
  transition: all 0.8s ease 1.1s;
}
.main .main__container .main__value .value__text.animation {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}
.main .main__container .main__image {
  position: absolute;
  top: -52px;
  right: 30px;
  z-index: 100;
  opacity: 0;
  -webkit-transition: all 0.8s ease 1.8s;
  transition: all 0.8s ease 1.8s;
}
.main .main__container .main__image.animation {
  opacity: 1;
}
.main .main__container .main__decor {
  width: 266px;
  height: 266px;
  border-radius: 50%;
  background-color: #00E9DE;
  position: absolute;
  top: 99px;
  right: 373px;
  z-index: 10;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.8s ease 2s;
  transition: all 0.8s ease 2s;
}
.main .main__container .main__decor.animation {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.main .main__container .main__decor2 {
  width: 393px;
  height: 394px;
  border-radius: 50%;
  background-color: #9DF3AC;
  position: absolute;
  top: 104px;
  right: 155px;
  z-index: 7;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.8s ease 2s;
  transition: all 0.8s ease 2s;
}
.main .main__container .main__decor2.animation {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.main .main__container .main__decor3 {
  width: 312px;
  height: 312px;
  border-radius: 50%;
  background-color: #FD82C1;
  position: absolute;
  top: 16px;
  right: 195px;
  z-index: 5;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.8s ease 2s;
  transition: all 0.8s ease 2s;
}
.main .main__container .main__decor3.animation {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.main .main__container .main__decor4 {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: #00E9DE;
  position: absolute;
  top: -52px;
  right: 190px;
  z-index: 10;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.8s ease 2s;
  transition: all 0.8s ease 2s;
}
.main .main__container .main__decor4.animation {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.main .main__container .main__decor5 {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: #9DF3AC;
  position: absolute;
  top: 308px;
  right: 670px;
  z-index: 7;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.8s ease 2s;
  transition: all 0.8s ease 2s;
}
.main .main__container .main__decor5.animation {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.main .main__container .main__decor6 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #FD82C1;
  position: absolute;
  top: 585px;
  right: 130px;
  z-index: 5;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.8s ease 2s;
  transition: all 0.8s ease 2s;
}
.main .main__container .main__decor6.animation {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 1284.99px) {
  .main .main__container .main__value .value__title {
    max-width: 440px;
    max-height: 160px;
    font-size: 40px;
  }
  .main .main__container .main__value .value__list {
    font-size: 20px;
  }
  .main .main__container .main__image {
    width: 633px;
    height: 550px;
  }
  .main .main__container .main__decor {
    width: 200px;
    height: 200px;
    top: 99px;
    right: 353px;
  }
  .main .main__container .main__decor2 {
    width: 323px;
    height: 324px;
    top: 104px;
    right: 155px;
  }
  .main .main__container .main__decor3 {
    width: 282px;
    height: 282px;
    top: 16px;
    right: 195px;
  }
  .main .main__container .main__decor4 {
    width: 36px;
    height: 36px;
    top: -52px;
    right: 190px;
  }
  .main .main__container .main__decor5 {
    width: 36px;
    height: 36px;
    top: 260px;
    right: 600px;
  }
  .main .main__container .main__decor6 {
    width: 42px;
    height: 42px;
    top: 480px;
    right: 130px;
  }
}
@media (max-width: 1164.99px) {
  .main .main__container .main__value .value__title {
    max-width: 360px;
    max-height: 160px;
    font-size: 30px;
    margin-bottom: 32px;
  }
  .main .main__container .main__value .value__list {
    font-size: 18px;
    margin-bottom: 31px;
  }
  .main .main__container .main__value img {
    width: 138px;
    height: 40.5px;
  }
  .main .main__container .main__value .value__text {
    font-size: 20px;
  }
  .main .main__container .main__image {
    width: 553px;
    height: 470px;
  }
  .main .main__container .main__decor {
    width: 170px;
    height: 170px;
    top: 79px;
    right: 313px;
  }
  .main .main__container .main__decor2 {
    width: 283px;
    height: 284px;
    top: 84px;
    right: 130px;
  }
  .main .main__container .main__decor3 {
    width: 252px;
    height: 252px;
    top: 0px;
    right: 195px;
  }
  .main .main__container .main__decor4 {
    width: 36px;
    height: 36px;
    top: -52px;
    right: 190px;
  }
  .main .main__container .main__decor5 {
    width: 36px;
    height: 36px;
    top: 260px;
    right: 500px;
  }
  .main .main__container .main__decor6 {
    width: 36px;
    height: 36px;
    top: 380px;
    right: 130px;
  }
}
@media (max-width: 939.99px) {
  .main .main__container .main__value .value__title {
    max-width: 290px;
    font-size: 24px;
    margin-bottom: 32px;
  }
  .main .main__container .main__value .value__list {
    font-size: 16px;
    margin-bottom: 31px;
  }
  .main .main__container .main__value img {
    width: 138px;
    height: 40.5px;
  }
  .main .main__container .main__value .value__text {
    font-size: 16px;
  }
  .main .main__container .main__image {
    width: 343px;
    height: 321px;
    top: 0;
    right: 70px;
  }
  .main .main__container .main__decor {
    width: 125px;
    height: 125px;
    top: 89px;
    right: 233px;
  }
  .main .main__container .main__decor2 {
    width: 184px;
    height: 184px;
    top: 94px;
    right: 130px;
  }
  .main .main__container .main__decor3 {
    width: 145px;
    height: 145px;
    top: 30px;
    right: 185px;
  }
  .main .main__container .main__decor4 {
    width: 19px;
    height: 19px;
    top: 0px;
    right: 180px;
  }
  .main .main__container .main__decor5 {
    width: 19px;
    height: 19px;
    top: 210px;
    right: 350px;
  }
  .main .main__container .main__decor6 {
    width: 19px;
    height: 19px;
    top: 300px;
    right: 140px;
  }
}
@media (max-width: 767.99px) {
  .main {
    padding: 30px 0 0px 0;
  }
  .main .main__container .main__value {
    text-align: center;
  }
  .main .main__container .main__value .value__title {
    max-width: 400px;
    font-size: 24px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .main .main__container .main__value .value__list {
    text-align: start;
    width: 320px;
    margin: 0 auto;
    margin-bottom: 400px;
  }
  .main .main__container .main__value img {
    margin-bottom: 8px;
  }
  .main .main__container .main__value .value__text {
    margin: 0;
  }
  .main .main__container .main__image {
    width: 343px;
    height: 321px;
    top: 250px;
    right: 50%;
    margin-right: -171.5px;
  }
  .main .main__container .main__decor {
    width: 125px;
    height: 125px;
    top: 339px;
    right: 50%;
    margin-right: -20.5px;
  }
  .main .main__container .main__decor2 {
    width: 184px;
    height: 184px;
    top: 344px;
    right: 50%;
    margin-right: -112px;
  }
  .main .main__container .main__decor3 {
    width: 145px;
    height: 145px;
    top: 280px;
    right: 50%;
    margin-right: -72px;
  }
  .main .main__container .main__decor4 {
    width: 19px;
    height: 19px;
    top: 250px;
    right: 50%;
    margin-right: -82px;
  }
  .main .main__container .main__decor5 {
    width: 19px;
    height: 19px;
    top: 460px;
    right: 50%;
    margin-right: 110px;
  }
  .main .main__container .main__decor6 {
    width: 19px;
    height: 19px;
    top: 550px;
    right: 50%;
    margin-right: -105px;
  }
}
@media (max-width: 424.99px) {
  .main .main__container .main__value .value__title {
    font-size: 22px;
  }
}
.footer .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer__container .footer__text {
  margin-top: 66px;
  margin-bottom: 81px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.29;
  letter-spacing: -0.41px;
  color: #1F294A;
}
.footer .footer__container .footer__social {
  margin-top: 72px;
  margin-bottom: 58px;
}
.footer .footer__container .footer__social img {
  margin-right: 16px;
}
.footer .footer__container .footer__social img:last-child {
  margin-right: 89px;
}

@media (max-width: 939.99px) {
  .footer .footer__container .footer__social img:last-child {
    margin-right: 40px;
  }
}
@media (max-width: 767.99px) {
  .footer {
    padding: 36px 0 55px 0;
  }
  .footer .footer__container {
    display: block;
    text-align: center;
  }
  .footer .footer__container .footer__text {
    margin-top: 0px;
    margin-bottom: 16px;
  }
  .footer .footer__container .footer__social {
    margin-top: 0px;
    margin-bottom: 0;
  }
  .footer .footer__container .footer__social img:last-child {
    margin: 0;
  }
}
@media (max-width: 424.99px) {
  .footer .footer__container .footer__text {
    font-size: 22px;
  }
}